<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login and Register Example </title>


        <!-- Bootstrap -->
        <link href="/javascripts/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom Theme Style -->


        <!-- jQuery -->
        <script src="/javascripts/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <!-- Datatables -->
        <script src="/javascripts/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/javascripts/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="/javascripts/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="/javascripts/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/policyinfo.js"></script>
  



</head>

<body>

    <div class="login-page">
        <div class="form">
            <h2>Add Policy Info</h2>
            <label class="control-label">Policy Number *</label>
            <input type="text" id="policyNumber" class="validate" />
            <label class="control-label">Policy Start Date *</label>
            <input type="date" id="policyStartDate" class="validate" />
            <label class="control-label">Policy End Date *</label>
            <input type="date" id="policyEndDate" class="validate" />

            <label class="control-label">Policy Mode *</label>
            <input type="text" id="policyMode" class="validate" />

            <label class="control-label">Policy Type*</label>
            <input type="text" id="policyType" class="validate" />


            <label class="control-label">Category</label>
            <input type="text" id="category" class="validate" />
            <label class="control-label">Company</label>
            <input type="text" id="companyName" class="validate" />
            <label class="control-label">User Name:</label>
            <input type="text" id="userName" class="validate" />

            
<br>
<a id="add" type="button" class="btn btn-primary" href="javascript:void(0)">Add</a>
            


            

            </br></br></br>

        </div>
    </div>

</body>

</html>
